<div class="ui-g top-bar">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="top-bar-phone">
        <i class="fas fa-phone"></i> 0965.528.621
    </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <div class="top-bar-email">
        <i class="far fa-envelope"></i> docaotri211997@gmail.com
    </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-6 top-bar-infor">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-1">
        <a>Liên hệ</a>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-1">
        <a>Bản đồ</a>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-2">
        <a>Hướng dẫn mua hàng</a>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-2">
        <a>Giới thiệu</a>
      </div>
    </div>
  </div>
  </div>